.appointment-page {
  width: 100%;
  max-width: 1200px;
  background: linear-gradient(to bottom, #e9fef1, #e0f6ff);
  padding: 2rem;
  border-radius: 16px;
}


.appointment-wrapper {
  background: linear-gradient(to bottom, #e9fef1, #e0f6ff);
  min-height: calc(100vh - 120px); /* ajustabil dacă Navbar + Footer au altă înălțime */
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.appointment-header {
  text-align: left;
  margin-bottom: 1.5rem;
}

.appointment-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  color: #1f2937;
}

.appointment-subtitle {
  font-size: 1rem;
  color: #6b7280;
}

.step-progress {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 1.5rem 0;
}


.step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #d1d5db;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6b7280;
  background-color: white;
  font-weight: 600;
}

.step-circle.active {
  background-color: rgb(209, 150, 63);;
  color: rgb(0, 0, 0);
  border-color: rgb(209, 150, 63);;
}

.appointment-card {
  background: linear-gradient(to bottom, #e9fef1, #e0f6ff);
  border-radius: 12px;
  padding: 1rem;
}

.appointment-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.appointment-title {
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
  margin: 0;
}

.back-button {
  background: none;
  border: none;
  color: #000000;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.back-button:hover {
  background-color: #e0e7ff;
}
